# Solr
solr-installation/solr-5.2.0/bin/solr-8983.port
solr-installation/solr-5.2.0/server/logs/
solr-installation/solr-5.2.0/server/solr-webapp/
solr-installation/solr-5.2.0/server/solr/hsperfdata_sne/
solr-installation/solr-5.2.0/server/solr/hsperfdata_tawi/